.select-kit .select-kit-header .selected-name {
    margin-left: -6px;
    white-space: nowrap;
}

.powered-by-discourse{
    display: none;
}

.navigation-controls>*:not(:last-child) {
    font-size: 16px !important;
    border-radius: 6px !important;
    background: #ff5758;
    color: white;
}

a {
    font-family: Poppins !important;
    color: #000000 !important;
}

p{
    font-family: Inter !important;
}

 .fa.d-icon-d-chat.svg-icon.svg-string {
    fill: black !important; /* Change the color */
    width: 23px; /* Adjust width */
    height: 23px; /* Adjust height */
    transition: fill 0.3s ease; /* Optional smooth transition */
}
.navigation-controls>*:not(:last-child):hover {
    background: #ff5758 !important; /* Same as base background */
    color: white !important; /* Same as base color */
    border: none !important; /* Ensure no border changes */
    font-size: 16px !important;
}

#create-topic {
    background-color: #ff5758; /* Change background color */
    color: white; /* Change text color */
    border-radius: 6px; /* Add rounded corners */
    font-size: 16px; /* Change font size */
}
#create-topic svg {
    color: white;
}
.navigation-controls>*:not(:last-child):hover svg {
    color: white !important; /* Ensure SVG color stays white on hover */
}

.navigation-controls>*:not(:last-child) svg{
    color: white;
}
.signup-cta .buttons>* {
    text-transform: capitalize;
}
.alert.alert-info {
    background-color: #F7F7F7;
}

.nav-pills>li a.active, .nav-pills>li button.active {
    color: black !important;
}

#toggle-hamburger-menu .fa.d-icon.d-icon-bars {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M4 12H20M4 6H20M4 18H20" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
  background-size: contain;
  display: block;
  width: 24px;
  height: 24px;
  fill: none;
}

#toggle-hamburger-menu .fa.d-icon.d-icon-bars use {
  display: none;
}


#search-button .fa.d-icon.d-icon-magnifying-glass {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M21 21L16.7 16.7M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
  background-size: contain;
  display: block;
  width: 24px;
  height: 24px;
  fill: none;
}

#search-button .fa.d-icon.d-icon-magnifying-glass use {
  display: none;
}


.revamped.menu-panel.drop-down{
    margin-top: 2px;
    box-shadow: none;
    border-radius: 8px;
    border: 1px solid #cfcfcf !important;
    box-shadow: 0px 2px 6px 0px #0000001A;

}

.select-kit.single-select .select-kit-filter.is-expanded {
    border: 1px solid var(--primary-low);
    border-bottom: 1px solid var(--primary-low);
    border-radius: 6px;
}

.select-kit-body {
    box-shadow: 0px 2px 6px 0px #0000001A;

  border-radius: 6px !important;
  border: 1px solid #cfcfcf !important;
}
.select-kit .select-kit-header .selected-name .name {
    color: black;
}
.fa.d-icon.d-icon-magnifying-glass.svg-icon.svg-string {
  fill: black;
  stroke: black;
}

.fa.d-icon.d-icon-bars.svg-icon.svg-string{
      fill: black;
}


.select-kit.combo-box.tag-drop .tag-drop-header{
    width: 93px;
    height: 40px;
    padding: 8px 16px 8px 16px;
    border-radius: 6px;
    border: 1px solid;
    color: #000000;
}


svg.fa.d-icon.d-icon-caret-right {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M6 9L12 15L18 9" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') 
              no-repeat center center;
  background-size: contain;
  fill: none;
}

svg.fa.d-icon.d-icon-caret-right use {
  display: none;
}
 .signup-cta .btn-primary{
    width: 140px;
    height: 40px;
    border-radius: 6px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}
.discourse-no-touch .btn-primary:hover, .discourse-no-touch .btn-primary.btn-hover {
    background-color: #ff5758 !important;
    color: var(--secondary);
}
 .signup-cta .buttons a {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}


 .signup-cta .btn.btn-text.no-icon{
     background: #ff5758;
    width: 140px;
    color: white;
    height: 40px;
    border-radius: 6px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}
.select-kit.combo-box.category-drop .category-drop-header[data-value=""] {
    width: 200px;
    height: 40px;
    padding: 8px 16px 8px 16px;
    border-radius: 6px;
    border: 1px solid;
    color: #000000;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.d-header #site-logo {
    height: 91px;}

.d-header .fa.d-icon.d-icon-user.svg-icon.svg-string {
  width: 20px;
  height: 20px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M12 13C14.7614 13 17 10.7614 17 8C17 5.23858 14.7614 3 12 3C9.23858 3 7 5.23858 7 8C7 10.7614 9.23858 13 12 13ZM12 13C14.1217 13 16.1566 13.8429 17.6569 15.3431C19.1571 16.8434 20 18.8783 20 21M12 13C9.87827 13 7.84344 13.8429 6.34315 15.3431C4.84285 16.8434 4 18.8783 4 21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>')
    no-repeat center center;
  background-size: contain;
}

.fa.d-icon.d-icon-user.svg-icon.svg-string use {
  display: none;
}


.login-button {
    font-family: Inter !important;
    width: 103px !important;
    height: 40px !important;
    padding: 8px 16px 8px 16px !important;
    border-radius: 6px !important;
    font-size: 16px !important;
}

.sign-up-button {
font-family: Inter !important;
font-size: 16px !important;
width: 103px!important;
height: 40px!important;
padding: 8px 16px 8px 16px !important;
gap: 10px !important;
border-radius: 6px !important;
opacity: 0px;

}

.bottom-tabs.tabs-list{
    color: black !important;
}